#form-container{

margin-top:0px;
}

#form{

color:gold;
text-shadow: 0 0 2px gold;
font-family:basic;
}

@font-face {font-family:basic;src: url(fontt/basictitlefont.ttf);}
@font-face {font-family:ps;src: url(fontt/ProductSans-Regular.ttf);}
@font-face {font-family:le;src: url(fontt/league-gothic.regular.ttf);}

html{
background-image: url("webbg6.jpg");
    
   
    background-attachment: fixed;
    
    background-position: top;

    background-repeat: no-repeat;
    
    background-size: cover;
}
body{
background:none;
}