/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width:100px;
	height:160px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	 
	position: absolute;
	top: 0;
	left: 0;
	
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	border:2px solid #ffff3b;
	

	color:white;
	
	
}
#scname{
   font-family:basic;
   color:white;
   text-shadow:0 0 5px white;
    font-weight:bolder;
   }
h6{
margin-top:30px;
font-family:le;
font-size:20px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color:#ffff3b;
	color:black;
}
#event-list{
margin-top:40px;
background-color:black;
text-align:center;
padding-left:50px;
margin-left:-20px;
height:550px;
 box-shadow: 10px 0 10px -2px;
 overflow:hidden;
}

#event-content{
background-color:#4e4e00;
height:550px;
margin-left:20px;
margin-top:60px;
text-align:center;
font-family:le;
border-radius:5%;
color:white;
overflow:hidden;
}
#eventc{
height:100%;
padding:0px;
margin-top:-20px;

}

h1{
text-align:center;
font-family:le;
font-size:30px;
}
.row{
margin-top:20px;
}
#estart{
margin-top:-20px;
}
.e-button:hover{
background-color: white;
color:black;
text-decoration:none;
}


.e-button {
    display:inline-block;
    width:150px;
	height:50px;
	 line-height:50px;
    color:white;
    text-align:center;
    text-decoration:none;
    background: black;
  border:1px solid white;
    font-size:1.2em;
    font-weight:bold;
	font-family:basic;	
margin-top:30px;
	transition-duration:2s;
	transition-property:color,background-color;
margin-left:50px;

}


#details {
    display:inline-block;
    width:100px;
	height:50px;
	 line-height:50px;
    color:white;
    text-align:center;
    text-decoration:none;
    background-color:black;
text-shadow:0 0 5px white;
    font-size:20px;
    font-weight:bolder;
	font-family:basic;	
	margin-left:auto;
margin-right:auto;
	transition-duration:2s;
	transition-property:color,border,text-shadow;
	margin-top:80px;
	
}
#one{

height:600px;
overflow:hidden;
}
#two{
height:600px;
overflow:hidden;
}
#three{
height:600px;
overflow:hidden;
}
#four{
height:600px;
overflow:hidden;
}
#five{
height:600px;
overflow:hidden;
}
#six{
height:600px;
overflow:hidden;
}
#seven{
height:600px;
overflow:hidden;
}
#details:hover{
color:black;
background-color:white;
text-shadow:0 0 5px black;
}


html{
background-image: url("webbg6.jpg");
    
   
    background-attachment: fixed;
    
    background-position: top;

    background-repeat: no-repeat;
    
    background-size: cover;
	padding-bottom:30px;
}

h3{
	margin-left:10px;
}
e-button:visited{
text-decoration:none;
}
#bname{
color:gold;
font-family:basic;
font-size:50px;
text-align:center;
font-weight:bolder;
text-shadow:0 0 5px gold;
}

#doscon{
margin-top:-40px;
}