@font-face {font-family:basic;src: url(basictitlefont.ttf);}
@font-face {font-family:ps;src: url(ProductSans-Regular.ttf);}
@font-face {font-family:le;src: url(league-gothic.regular.ttf);}

.container {
	padding-top: 20px;
}
nav {
	margin-right: 20px;
	margin-bottom: 20px;
	font-family:basic;
	color:white;
	}
	
section {
	height:600px;
	overflow:hidden;
	box-shadow: 0 0 25px grey;
	padding: 10px;
	margin-left:100px;
	}
.list-group-item.active,
.list-group-item.active:hover, 
.list-group-item.active:focus  {
	background: black;
}
.list-group-item.active a,
.list-group-item.active:hover a, 
.list-group-item.active:focus a  {
	color: white;
	}
p{
font-family:ps;
}

.econtain{
	height:600px;
	background-color:white;
}